Microsoft.Flow/flows/9c9465b7-1bfe-43ac-b7af-40a1b2c91362/definition.json
{"name":"9e53d695-d672-4e6a-a014-49d12c953511","id":"/providers/Microsoft.Flow/flows/9e53d695-d672-4e6a-a014-49d12c953511","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Re-Publish all my PowerApps once a month","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"b076e19e-2637-451c-aa97-d46732eb049e","type":"User","tenantId":"c9e8e454-ead6-40c6-bc93-5b83567d5e1a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-06-19T17:20:40.6136994Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Month","interval":1},"type":"Recurrence"}},"actions":{"Get_Apps":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-Apps"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerappsforappmakers']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/powerappsforappmakers"}},"method":"get","path":"/providers/Microsoft.PowerApps/apps","queries":{"api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@body('Get_Apps')?['value']","actions":{"Condition":{"actions":{"Publish_App_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Publish-App"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_powerappsforappmakers']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/powerappsforappmakers"}},"method":"post","path":"/providers/Microsoft.PowerApps/apps/@{encodeURIComponent(items('Apply_to_each_2')?['name'])}/publish","queries":{"api-version":"2017-06-01"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_2')?['properties']?['owner']?['email']","@body('Get_my_profile_(V2)')?['mail']"]},"type":"If"}},"runAfter":{"Get_Apps":["Succeeded"]},"type":"Foreach"},"Get_my_profile_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"MyProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-westus2-01.azure-apim.net/apim/office365users"}},"method":"get","path":"/codeless/v1.0/me","authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_powerappsforappmakers":{"connectionName":"475cf42af41a46f6a2d9d0826527887e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers","tier":"NotSpecified"},"shared_office365users":{"connectionName":"a2e574cd38f8f8748b0fc6be8adf9145","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}